body {
   margin:0;
   padding:0;
   height:100%;
}


.menu {
    margin-top: 40px;
   
}
.menu a{
    color: rgb(255, 255, 255,0.5);
}
#login{
    /*background: rgb(0, 0, 0,0.6);
    border-radius: 40%;
    */
    position: relative;
    display: inline-block;
}
.mobile {
    width: 100%;
    height: 60px;
    text-align: center;
    /*background: #262626;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    */ 
}
.desc {
    width: 100%;
    height: 60px;
    padding-left: 200px;
    text-align: center;
}
.desc ul {
    list-style: none;
    width: 75%;
    height: 60px;
}
.desc ul li {
    width: 20%;
    float: left;
    line-height: 60px;
    font-family: Arial;
    text-transform: uppercase;
    padding-right: 5px;
    cursor: pointer;
    transition: all 0.5s ease; 
}
.desc ul li:hover a{
   color: #fff;
}
.desc ul li.active a{
    color: #fff;
}
.menu_1 ul li a {
    color: #f1ecec93;
    text-decoration: none;
}
.mobile,
    .hamburger-btn{
    display: none;
}
/*if media screen is below 700px*/
@media screen and (max-width:700px ){
    .desc {
        display: none;
    }
    .mobile, 
    .hamburger-btn{
        display: block;
    }
    .hamburger-btn {
        position: relative;
    }
    .hamburger-btn .fa-bars,
    .hamburger-btn .fa-times {
        position: fixed;
        right: 25px;
        top:15px;
        font-size: 35px;
        color: #fff;
        cursor: pointer;
    }
    .mobile ul{
        margin-top: 30px;
        /*background:  rgb(0, 0, 0,0.3);*/
        list-style: none;
        display: none;
    }
    .mobile ul li {
        text-transform: uppercase;
        text-align: center;
        padding:20px;
        cursor: pointer;
    }
    .mobile ul li.active a {
        color: #fff;
    }
    .mobile ul li:hover a {
        color: #fff;
    }
    .mobile ul.active {
        display: block;
    }
}
@media screen and (max-width:1199px){
    .desc{
        padding-left: 150px;
    }
    .desc ul li {
        width: 20%;
    }
}
#logo{
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700;
}
/*
font-family: "Work Sans", Arial, sans-serif;*/
#logo a{
    color: #ffffff;
    line-height: 60px;
}
#logo a:hover{
    text-decoration: none;
    color: #ffffff;
}
.text-body h1{
   margin-top: auto;
   text-align: center;
   position: relative;
   color: #fff;
   margin-left: 200px;
   margin-right: 200px;
   line-height: 1.6;
   animation: text-body;
   animation-duration: 3s;
   animation-fill-mode: forwards;
}

.text-body p{
    text-align: center;
    position: relative;
    color: #fff;
    line-height: 1.6;
    margin-left: 200px;
    margin-right: 200px;
    animation: pragraph;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@media screen and (max-width:560px){
    .text-body h1{
        margin-left: 1px;
        margin-right: 1px;
    }
    .text-body p {
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media screen and (max-width:700px){
    .text-body h1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .text-body p{
        margin-right: 10px;
        margin-left: 10px;
    }
}
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/

@keyframes pragraph{
    0%{left: -1000px;}
    100%{left: 0px;}
}

@keyframes text-body{
    0%{top: -500px;}
    
    100%{top:0px;}
}
.text-body{
    margin-top: 200px;
}
/*css for counter */
.img{
    padding-top: 40px;
    position: relative;
    background: transparent;
    text-align: center;
}
.img_hov a img{
    /*
    position: relative;
    transition-property: opacity;
    transition-duration: 3s;
    */
    position: relative;
    transition: 1s;
    filter: grayscale(100%);
}
.img_hov a img:hover {
   /*opacity: .5;*/ 
    transform: scale(1.7);
    box-shadow: 2px 2px 2px rgb(255, 255, 255,0.8);
    z-index: 2;
    filter: grayscale(0);
}
.body_2 {
    margin-top: 40px;
    background: rgb(0, 0, 0,0.09);
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
.body_2 h2{
    text-align: center;
    padding-top: 50px;
    animation: h2;
    color: #000000;
    position: relative;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
/*  font-family: Arial, Helvetica, sans-serif;*/

.body_2 p{
    text-align: center;
   
    font-size: 16px;
    color: rgb(0, 0, 0,0.5);
    line-height: 1.4;
    position: relative;
    animation: p;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
/* font-family: Arial, Helvetica, sans-serif;*/
@keyframes h2{
    0%{top:80px;}
    100%{top:0px;}
}
@keyframes p{
   0%{top:100px;}
   100%{top:0px;}
}
.section_2{
    padding-top: 70px;
}
.mt li i {
    padding-right: 10px;
    color: #ea9215;
    font-size: 15px;
}
.mt h3{
    color: #000000;
}
.mt p{
    font-size: 16px;
    text-align: start;
}
.mt ul{
    padding-top: 20px;
    list-style-type: none;
}
.mt ul li {
    padding-top: 10px;
    position: relative;
    animation: li;
    animation-duration: 2s;
    list-style-type: none;
    animation-fill-mode: forwards;
    color: rgb(0, 0, 0,0.5)
}
@keyframes li{
    0%{top:100px;}
   100%{top:0px;}
}
#mt_img {
    width: 650px;
    height: 450px;
    padding-left: 25px;
    padding-right: 15px;
    /*
    background: url("images/work_1.png") no-repeat;
    */
}
@media screen and (max-width:998px){
    #mt_img {
        width: 450px;
        height: 350px;
        padding-left: 10px;
      padding-right: 5px;
    }
}
@media screen and (max-width:696px){
    #mt_img {
        width: 350px;
        height: 350px;
        padding-right: 0px;
        padding-left: 0px;
    }
}
/*box hover effect*/
.content-box {
    text-align: center;
    margin-top: 50px;
    background: #262626;
}
.box_outer{
    background: #262626;
    margin-top: 10px;
}
.box {
    transform: translate(-0%,-0%);
    box-sizing: border-box;
    transition: .5s;
    overflow: hidden;
    background: #262626;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.box p {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    transition: .5s;
    transition-delay: .5s;
    transform: scale(.8);
    text-align: start;
}
.box:before {
    content: '';
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    position: absolute;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    opacity: 0;
    transition: .5s;
    box-sizing: border-box;
}
.box:after {
    content: '';
    width: 0%;
    height: 0%;
    bottom: 0;
    right: 0;
    position: absolute;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    opacity: 0;
    transition: .5s;
    box-sizing: border-box;
}
.box:hover:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.box:hover:after {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.box:hover p{
    transform: scale(1);
}
.box:hover {
    box-shadow: 0 25px 30px rgba(0,0,0,.5);
}
.get_started {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    background: #272425;
}
.get_started h1{
    color: #ffffff;
}
.get_started h1{
    padding-top: 50px;
}
.get_started p{
    line-height: 1.6;
    font-size: 17px;
    font-family: sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255,0.3);
}
.btn_class{
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn_class p a{
    border-radius: 20px;
    color: #ffffff;
    background: #ea9215;
    border: solid 1px #ea9215;
}
.btn_class p a:hover{
    background: #ea9215;
    color: #ffffff;
    border: solid 1px #ea9215;
}
/*contact us page css */
.nav {
    /*
    background: url('assets/images/img_bg_2.jpg') no-repeat;
    */
    background:rgb(0, 0, 0,0.5);
    background-size: cover;
}
.desc ul li a:hover {
    text-decoration: none;
}
.mobile ul li a:hover {
    text-decoration: none;
}
#img_padding{
    margin-bottom: 450px;
}
.contact ul li p{
    font-size: 15px;
    padding-right: 10px;
    color:#ea9215;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contact_us{
    height: 200px;
    width: 200px;
    background: #ea9215;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    animation: animate 3s linear infinite;
}
@media screen and (max-width:700px){
    .center{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
/* */
@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgb(255, 109, 74,0.7), 0 0 0 0 rgb(255, 109, 74,0.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgb(255, 109, 74,0), 0 0 0 0 rgb(255, 109, 74,0.7);
    }
    80%{
        box-shadow: 0 0 0 50px rgb(255, 109, 74,0), 0 0 0 30px rgb(255, 109, 74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgb(255, 109, 74,0), 0 0 0 30px rgba(105, 28, 9, 0);
    }
}
.contact {
    padding-top: 50px;
}
.contact ul li{
    line-height: 1.6;
    padding-top: 20px;
}
.contact ul {
    list-style: none;
}
.contact ul li a{
    color: rgb(0, 0, 0,0.5);
    text-decoration: none;
}
.contact ul li a:hover{
    text-decoration: none
}
input[type="text"] {
    font-family: arial,sans-serif;
    color: rgb(0, 0, 0,0.5);
    font-size: 20px;
}
input[type="password"] {
    font-family: arial,sans-serif;
    color: rgb(0, 0, 0,0.5);
    font-size: 20px;
}
input[type="text"]:focus{
    border: 1px solid lightgreen;
}
input[type="password"]:focus {
    border: 1px solid lightgreen;
}
.txt_area textarea{
    font-family: arial,sans-serif;
    color: rgb(0, 0, 0,0.5);
    font-size: 20px;
}
input[type=submit] {
    background: #ea9215;
    border: 2px solid #ea9215;
}
input[type=submit]:hover {
    background: #ea9215;
    border: 2px solid #ea9215;
}
.txt_area textarea:focus{
    border: 1px solid lightgreen;
}
@media screen and (max-width:991px) {
    .lname {
        padding-top: 10px;
    }
}
/*css of blog*/
.blogs {
    padding-top: 100px;
}
.blog-text h3 a{
    color: #000000;
}
.blog-text h3 a:hover {
    text-decoration: none;
}

.posted_on {
    padding-top: 15px; 
    color: rgb(0, 0, 0,0.5);
    font-family: Arial,sans-serif;
    font-size: 18px;
}
span.comment {
    float: right;
    padding-right: 40px;
}
span.comment a {
    color: rgb(0, 0, 0,0.5);
    font-family: Arial,sans-serif;
    font-size: 18px; 
}
span.comment a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0,0.5);
}
.blog-text {
    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}



.nev_main {
    height: 100px;
    border-radius: 0px;
}


.content_nav_bar {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 10px;
}

.nav_header_menus {
    background: transparent;
}

.nav_drop_down {
    background: transparent;
}



.menu_wr {
    margin-top: 50px;
    
}

.main_row {
    //padding-top: 10px;
}

.list_of_menu {
    /*padding-top: 30px;*/
}

.list_of_menu > ul > li {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    text-align: left;
    /*background: rgba(20,20,20,0.7);
    font-size: 16px;
    color: #555;
    display: block;
    padding: 18px 35px;
    border-bottom: 1px solid #f2f2f2;*/
}

.list_of_menu > ul {
    //box-shadow: 0px 10px 20px 12px rgba(50, 40, 70, 0.44);
}

.list_of_menu > ul > li > a{
    text-decoration: none;
    text-align: right;
    //margin-left: 35px;
}

.list_of_menu > ul > li:hover {
  background: rgba(86, 92, 95, 0.233)
}

.list_of_heritage {
    margin-top: 50px;
}

.list_of_heritage > h4 {
    text-align: center;
    text-decoration: none;
}

.body_section {
    padding-right: 10px;
}


.user_img_h {
    margin-top: 5px;
}



//style heritage detail in woreda 

.row_one {
    margin-top: 10px;
}

.component_one {
    padding-top: 30px
}







